*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .containerop{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: calc(100%/8);
    height: calc(100%/8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
} */

.diecibox{
    width: calc((100% / 10) - 5px);
}