*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diecibox{
    width: calc((100% / 10) - 5px);
    border: 1px solid black;
}

.ottobox{
    width: calc((100% / 8) - 5px);
    border: 1px solid black;
}

.cinquebox{
    width: calc((100% / 5) - 5px);
    border: 1px solid black;
}

.d-none{
    display: none;
  }

.clicked{
    background-color: black;
    color: red;

}

/* Altra maniera per fare gliglia
.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: calc(100%/10);
    height: calc(100%/10);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
} */